<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.database"
		  xmlns:android="http://schemas.android.com/apk/res/android"
		  android:installLocation="auto">

	<application
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity android:name="com.example.database.SwitchActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
        <activity android:name="com.example.database.SignInActivity"/>
		<activity android:name="com.example.database.MainActivity"/>
		<activity android:name="com.example.database.NewPostActivity"/>
		<activity android:name="com.example.database.PostDetailActivity"/>
		<activity android:name="com.example.database.ChatActivity"/>
		<activity android:name="com.example.database.BasicActivity" android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>

	</application>

</manifest>